<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <h1 class="icon">Canva</h1>
    <nav>
        <ul>
            <li><a href="#">Aneka disen</a></li>
            <li><a href="#">Bisnis</a></li>
            <li><a href="#">pendidikan</a></li>
            <li><a href="#">paket dan harga</a></li>
            <li><a href="#">belajar</a></li>
        </ul>
    </nav>
    <div class="main">
        <div class="box">
            <p>kelas 11G</p>
        </div>

        <div class="box2">
            <h1>Mau Disen apa Hari ini?</h1>
        </div>
        <div class="hero">
    
        </div>
        
    </div>
    <footer>
        <div class="footer-content">
            <p>krissuton 5520122155</p>
            <p>&copy;kelas : NR 2022</p>
        </div>
    </footer>
    
</body>
</html>